body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.todo-item-delete-icon {
  height: 40px;
  width: 20px;
}

.todo-item-delete-icon {
  cursor: pointer;
  height: 40px;
  width: 28px;
}

.todo-item-delete-icon:hover {
  background-color: #ddd;
}

ul.list-group.todo-list {
  height: 80vh;
  overflow-y: auto;
}

.editable-content {
  cursor: pointer;
}

div.todo-item__checkbox input[type="checkbox"]:focus {
  box-shadow: none;
}

.filter-by-complete {
  border-radius: 15px;
  border: 1px solid gray;
  cursor: pointer;
  margin: 0 20%;
  text-align: center;
}

.filter-by-complete .filter {
  margin: 0 3px;
}

.filter-by-complete .active {
  border-radius: 15px;
  background-color: #2196F3;
  padding: 3px;
}